.main.card-transfer {
  .card-transfer {
    &-margin {
      margin-bottom: 3rem;
    }
    &-button {
      margin-bottom: 2rem;
      &-long {
        width: 28rem;
        max-width: 28rem;
      }
    }
    &-balance {
      text-align: center;
      margin-bottom: 3rem;
    }
    &-form-wrapper {
      padding-top: 1.5rem;
      .column-left {
        width: 30%;
        padding: 0 0 1rem;
      }
      .column-right {
        width: 70%;
        padding-right: 0;
        padding-bottom: 1rem;
      }
    }
    &-done {
      display: none;
      text-align: center;
    }
  }
  .current-balance {
    padding: 3rem 1.5rem;
    background: lightgrey;
  }
}
