@import "normalize";
@import "global";

.bold {
  font-weight: 700;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
/*Custom styles*/
.main {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: #fff;
  font-size: 1.6rem;
  .form {
    &-wrapper {
      width: 100%;
      max-width: 50rem;
      padding: 2rem 1rem;
      border: 1px solid #709bea;
    }
    &-item {
      position: relative;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &__name {
        width: 100%;
        padding: 1rem;
      }
    }
    &-error {
      position: absolute;
      left: 0;
      top: 7rem;
      display: none;
      text-align: center;
      &__text {
        font-size: 1.2rem;
        color: red;
      }
    }
  }
  .column {
    &-left {
      width: 10rem;
      padding: 0 1rem;
      flex-shrink: 0;
    }
    &-right {
      width: calc(100% - 10rem);
      padding: 0 1rem;
      flex-grow: 0;
    }
  }
  .input {
    &-wrapper {
      max-width: 100%;
      margin: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }
    &-field {
      height: 3rem;
      width: 100%;
      max-width: 20rem;
      padding: 0 1rem;
      &::placeholder {
        color: #363636;
      }
    }
    &-radio {
      margin-top: 0.5rem;
    }
  }
  .select-item {
    height: 3rem;
    max-height: 6.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  .button {
    &-primary {
      min-width: 9rem;
      max-width: 12rem;
      height: 4.4rem;
      padding: 0 1.5rem;
      margin: auto;
      display: block;
      font-size: 1.6rem;
      line-height: 4.4rem;
      font-weight: 500;
      text-align: center;
      color: #fff;
      text-decoration: none;
      background: #709bea;
      border-radius: 0.3rem;
      border: none;
      outline: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: #415986;
      }
    }
    &-secondary {
      min-width: 9rem;
      max-width: 12rem;
      height: 4.4rem;
      padding: 0 1.5rem;
      margin: auto;
      display: block;
      font-size: 1.6rem;
      line-height: 4rem;
      font-weight: 500;
      text-align: center;
      color: #709bea;
      text-decoration: none;
      background: #fff;
      border-radius: 0.3rem;
      border: 0.2rem solid #709bea;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: #dfe6f3;
      }
    }
    &-wrapper {
      width: 100%;
      padding: 2rem 1rem;
      margin-bottom: 2rem;
    }
  }
  .download {
    &-form-wrapper {
      width: 100%;
      max-width: 50rem;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .button-secondary {
        max-width: 18rem;
      }
    }
    &-sertify-message {
      text-align: center;
      display: none;
      &-margin {
        margin-bottom: 2.5rem;
      }
    }
  }
  input[type="file"] {
    position: fixed;
    top: 100%;
    left: 100%;
  }
  .label {
    margin-left: 1.5rem;
  }
  &.rates {
    align-items: center;
    .form-wrapper {
      padding: 2rem;
    }
    .button {
      &-primary {
        max-width: 13rem;
      }
      &-wrapper {
        margin-bottom: 0;
      }
    }
    .rates__ol {
      counter-reset: item;
      list-style-type: none;
      &--nested {
        padding-left: 2rem;
      }
    }
    .rates__li {
      display: block;
      &::before {
        counter-increment: item;
        content: counters(item, ".") ". ";
      }
    }
  }
  &.birth-date {
    align-items: center;
    .form {
      &-item {
        margin-bottom: 4rem;
        justify-content: center;
      }
      &-description {
        width: 100%;
        text-align: center;
      }
    }
    .button-primary {
      width: 12rem;
      margin-bottom: 2.5rem;
    }
  }
  .birth-sertify {
    &__button {
      margin-top: 2rem;
      max-width: 18rem;
    }
  }
}
.identification {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &-top-text {
    width: 100%;
    max-width: 50rem;
    padding: 2rem 0;
  }
  &-tabs {
    width: 100%;
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
  }
  &-tab {
    position: relative;
    z-index: 2;
    width: 48%;
    padding: 0.5rem 1rem;
    margin-bottom: -0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.1rem solid #709bea;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: #e2e8f5;
    cursor: pointer;
    &.active {
      border-bottom: 0.1rem solid #fff;
      background: #fff;
    }
  }
  &-content {
    &-2 {
      display: none;
    }
  }
  &-border {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0.1rem solid #c1c1c1;
  }
  &-text-color {
    font-weight: 700;
    color: #709bea;
  }
  .identification-margin {
    margin: 3rem 0 1.5rem;
  }
  .identification-button {
    max-width: 23rem;
    margin-left: 0;
  }
  .identification-button-wrapper {
    padding: 2.5rem 0;
  }
  .identification-button-primary {
    max-width: 17rem;
  }
  .column-left {
    padding: 0;
  }
  .select-item {
    width: 100%;
    max-width: 20rem;
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .main {
    .label {
      max-width: 13rem;
    }
    &.identification {
      .label {
        max-width: 20rem;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .main {
    &.birth-date {
      .input-wrapper {
        flex-direction: column;
      }
    }
    .form-error {
      top: 15rem;
    }
  }
}
@import "card-transfer";